.area
{
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid black;
    border-radius: 10px;
}

.disable
{
    pointer-events: none;
    background-color: lightgray;
}

@media screen and (max-width: 480px) {
    .buttony {
        display: flex;
        justify-content: center;
    }
}

.addedbasket
{
    justify-content: center;
    display: none;
    border: 1px solid red;
    margin: 3px;
}

.nonborder
{
    justify-content: space-between;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 5px;
    margin: 5px;
}

.deliver
{
    width: 100%;
    border-collapse: collapse;
    position: relative;
    left: -100px;
}

table, td, th
{
    border: 3px solid black;
    min-width: 160px;
}

td, thead
{
    height: 35px;
}

thead
{
    background-color: #c7c5cb;
}

table
{
    margin-bottom: 10px;
}

.papich
{
    width: 600px;
    height: 900px
}

.cart-buttons
{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.cart-body
{
    width: 800px;
    justify-content: space-between
}

.cart-element
{
    justify-content: space-between;
    width: 100%;
    text-align: center;
    display: flex;
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

@media screen and (max-width: 860px) {
    .cart-buttons
    {
        display: block;
        margin: auto;
    }
    .cart-body
    {
        width: 380px;
    }
    .cart-element
    {
        display: block;
    }
    .count
    {
        display: block;
    }
    .cart-margin
    {
        margin-bottom: 10px;
        display: block;
    }
    .papich
    {
        width: 380px;
        height: 500px;
    }
}

.price
{
    display: block;
}


.upp-button
{
    background: none;
    border: none;
    background-image: url("/static/img/cart-plus.svg");
    width: 24px;
    height: 24px;
}

.upp-button:hover
{
    /*border: 1px solid black;*/
    outline: 1px solid black;
}


.conf-button
{
    background: none;
    border: none;
    background-image: url("/static/img/check-bold.svg");
    width: 24px;
    height: 24px;
    display: flex;
}

.conf-button:hover
{
    /*border: 1px solid black;*/
    outline: 1px solid black;
}

.deni-button
{
    background: none;
    border: none;
    background-image: url("/static/img/close.svg");
    width: 24px;
    height: 24px;
    display: flex;
}

.deni-button:hover
{
    /*border: 1px solid black;*/
    outline: 1px solid black;
}

.down-button
{
    background: none;
    border: none;
    background-image: url("/static/img/cart-minus.svg");
    width: 24px;
    height: 24px;
    display: block;
}

.down-button:hover
{
    /*border: 1px solid black;*/
    outline: 1px solid black;
}

.delete-button
{
    background: none;
    border: none;
    background-image: url("/static/img/cart-remove.svg");
    width: 24px;
    height: 24px;
}

.delete-button:hover
{
    /*border: 1px solid black;*/
    outline: 1px solid black;
}

.select
{
    display: grid;border: 1px solid black;border-radius: 0.25em;padding: 0.25em 0.5em;
}
/**/
.hidden
{
    display: none;
}

body {
    margin: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
/* page - вся страница */
.page {
    font-family: 'Century Gothic';
    overflow: hidden; /* что бы не было горизонтального прокрута */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* минимальный размер страницы 100% что бы fooder опустился вниз когда мало контента */
}


.header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: #888888;
}

.button {
    background-color: rgb(30,30,30);
}

.footer {
    background-color: rgb(30,30,30);
    padding: 10px;
    margin-top: auto;
    color: #888888;
    font-size: 12px;
    text-align: center
}
.exit {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.exit:hover {
    background-size: 100% 2px;
}

@media screen and (max-width: 680px) {
    .exit{
        font-size: 20px;
    }

}


/* content - это блок в который подставляется другие страницы уже с готовым хедером и фудером */
.logo,
.menu,
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    width: 100%;
}
.content
{
    position: relative;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 750px) {
    .menu{
        display: block;
    }

    .btn-row
    {
        justify-content: center;
        display: flex;
        margin: 10px;
    }
}

.dot {
    color: rgb(50,50,50);
    margin-top: 12px;
}

lorem{
    margin: 0;

}
.account {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.addalbomh1{
     display: rows;
}
.addalbomh1>a{
    text-decoration: none;
    color: black;
}

/* тут кнопки по приколу вообще можно поменять */
.btn {
  font-family: 'Century Gothic';
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid orange;
  color: orange;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.btn:hover:after {
  border-color: orange;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

fieldset{
    border: solid 2px;
}

/* Albom */

.allalbomblock {
   background-color: #F6F6F6;
    border-radius: 5%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, auto);
}

@media screen and (max-width: 800px)
{
    .allalbomblock
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }

}

.onealbomblock {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(30,30,30);
    color: white;
    display: flex;
}

.imagebutton{
    margin-right: 10px;
}
.imageblock{
    padding: 5px;
    border: 1px solid rgb(50, 50, 50);
    padding: 10px;
    margin-bottom: 2px;

    border-radius: 10px 0 0 0;
}
.albomimage {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.buttonblock {
    display: flex;
}
.albombutton{
    padding: 3px 20px;
    border: 1px solid orange;
    text-align: center;
    border-radius: 0 0 0 10px;
    width: 100%;
    text-decoration: none;
    color: white;
}

.albombutton:hover
{
    outline:1px solid orange;
}

.albomtitle{
    width: 100%;
    text-align: center;
}
.albomtext{
    width: 100%;
    text-align: center;
    position: relative;
}

.albomopisanie{
    width: 100%;
    text-align: center;
    position: absolute;

	justify-content: space-between;
}

.addalbomh1{
    display: flex;
    justify-content: space-between;
}
.addalboms {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(50,50,50);
}

.addalbomsblock {
    margin-top: 30px;
}

/* Detail */
.detailblock {
    max-width: 425px;
    border: 1px solid black;
    padding: 0 10px;
    margin: 0 auto;
}
.deteiltitle {
    text-align: center;
}
.detailimageblock {
    text-align: center;
}
.detailimage {
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .detailimage
    {
        width: 100%;
    }
}

.detailopisanie {
    font-size: 20px;
}

.detaildelrevblock {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px)
{
    .detaildelrevblock
    {
        display: block;
        justify-content: center;
        align-items: center;
    }
}


.detaildel {
    text-decoration: none;
    border-radius: 5px;
    background-color: #610505;
    color: white;
    padding: 10px;
    display: block;
    margin: 5px;
}
.detaildel:hover
{
    outline: 2px solid black;
}

.detailrev:hover
{
   outline: 2px solid black;
}


.detailrev {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    display: block;
    margin: 5px;
}


.page-button:hover
{
   outline: 2px solid black;
}


.page-button {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

/* Add */
.addblock {
}
.forma {
    padding: 10px;
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid black;
}
/*@media screen and (max-width: 650px)*/
/*{*/
/*    .forma2*/
/*    {*/
/*        max-width: 100%;*/
/*    }*/
/*}*/
.addimage {
    color: grey;
    cursor: pointer;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    width: 150px;
    height: 150px;
    border: 2px dashed grey;
}

.addimage:hover{
    border: 2px solid grey;
}

.addimageblock {
    padding: 10px;
}
.addopisanieblock {
    width: 100%;
    padding: 10px;
}
.addopisanieblock input {
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}

.addimageopisanieblock{
    display: flex;
}

.addkompozblock {
    padding: 0 10px;
}

.kompozblock{
    display: flex;
    margin: 3px 0;
}
.kompozpole {
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    height: 30px;
    width: 90%;
}
.delkompoz {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    height: 30px;
    width: 35px;
    background-color: #B54800;
    cursor: pointer;
}
.delkompoz:hover {
    font-size: 20px;
    border: 3px solid black;
}

.addpole {
    width: 10%;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.addpole:hover {
    font-size: 20px;
    border: 3px solid black;
}

.submitbuttonblock {
    width: 100%;
    text-align: center;
}
.submitbutton {
    background-color: white;
    cursor: pointer;
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.submitbutton:hover
{
    outline: 3px solid black;
}
/* login */
.loginpole {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
}

.reg {
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.regblock {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logpassblock {
    justify-content: space-between;
}

.regblock2 {
    display: column;
    text-align: center;
    justify-content: space-between;
}

/* О НАС */


.str{
    font-size: 60px;

    text-align: center;
    color: black;
}

.str2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    max-width: 1000px;
    margin-left: 450px;
    color: white;
}
div.outer{
    margin-left: 850px;
    width: 50%;
    height: 400px;

    padding: 10px;
    border: 5px solid #ccc;
    background-color: #eee;
}
div.git{

    height: 700px;
}
.img2{
    width: 500px;
    height: 425px;
    margin-left: 135px;
    margin-right: -800px;
}
.divb{
    margin-bottom: 35px;
    margin-left: 715px;
}

.zag{
    font-size: 35px;

    margin-left: 800px;
}
.op{
    font-size: 15px;
    margin-left: 235px;
    text-align: left;
    font-weight: bold;
}
.social {display: inline-block;}
.social a {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 10px 10px 0;
	text-align: center;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
}
.social a:hover {color: #fff;}
.social svg {
	margin-top: 7px;
	width: 32px;
	height: 32px;
}
.facebook a:hover {background: #3b5998;}
.instagram a:hover {background: #3f729b;}
.twitter a:hover {background: #00acee;}
.youtube a:hover {background: #c4302b;}

.historyImageText {
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FDF;
}

.abouth{
    text-align: center;
}

p {
    text-align: justify;
}

li{
    font-style: italic;
}