{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div style="display: flex;justify-content: center;">
    <div style="height: 510px; background-color: black; border: 3px solid gray; text-align: center; justify-content: center; width: 400px">
        <div style="padding: 10px; margin: 0 auto;">
            <img src="/static/img/скала404.gif" height="450px" width="350px" style="border: 3px solid gray">
        </div>
        <span style="color: white; width: 75px; display: inline-block">Error 404</span>
    </div>
</div>
{% endblock %}