{% extends 'base.html' %}

{% block title %}
Добавление
{% endblock %}

{% block body %}

<div>
    <h1 style="text-align: center;">Добавить товар</h1>
    <div style="width: 191px; text-align: center; background-color: red; color: white;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
     <form method="post" enctype=multipart/form-data class="forma" autocomplete="off">
        <div class="addimageopisanieblock">
            <div class="addimageblock">
                <input id="imagefile" type="button" class="addimage" onclick="document.getElementById('image').click();" value="Добавить Картинку">
                <input onchange="loadFile(event)" id="image" type="file" name="image" style="display: none;"/>
            </div>
            <div class="addopisanieblock">
                Название:<br>
                <input type="text" name="title" id="title"><br>
                Цена:<br>
                <input type="text" name="price" id="genre"><br>
                Категория:<br>
                <input type="text" name="category" id="genre"><br>
            </div>
        </div>
        <div class="addkompozblock">
            Характеристики:<br>
            <div id="allkompoz">
                <div class="kompozblock" id="komp1">
                    <input class="kompozpole" type="text" name="track" onkeyup="konkaten()">
                    <input class='delkompoz' type="button" onclick="Del(1)" value="X">
                </div>
            </div>
            <input type="button" class="addpole" onclick="Add()" value="+">
            <input type="text" name="track1" id="track1" style="display: none">
            <hr size="1px" noshade color="grey"></hr>
            <div class="submitbuttonblock">
                <input onclick="kokaten()" type="submit" value="Отправить" class="submitbutton">
            </div>
        </div>
    </form>
</div>

{% endblock %}