<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/stylesheet.css') }}">
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="top" style="display: flex">
            <div class="logo">
                    <span>
                        ArtiShop.
                    </span>
            </div>
            <div class="account" style="float: right;">

                {% if current_user.is_authenticated %}
                    <span>
                                <a href="{{ url_for('about_me') }}" class="exit"
                                   style="margin-right: 15px">Профиль({{ current_user.login }})</a>
                            </span>
                    <span>
                                <a href="{{ url_for('logout') }}" class="exit" style="margin-right: 15px">Выйти</a>
                            </span>
                {% else %}
                    <span>
                                <a href="{{ url_for('login_page') }}" class="exit" style="margin-right: 15px">Войти</a>
                            </span>
                {% endif %}

            </div>
        </div>
        <div class="button">
            <div class="menu">
                <div class="btn-row">
                    <a href="/0" class="btn">Главная</a>
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin %}
                            <label class="dot">|</label>
                            <a href="/add" class="btn">Добавить</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="btn-row">
                    <label class="dot">|</label>
                    <a href="/shopping-cart" class="btn">Корзина</a>
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin %}
                            <label class="dot">|</label>
                            <a href="/deliver" class="btn">Заказы</a>
                            <label class="dot">|</label>
                            <a href="/feedback" class="btn">Feedback</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="content">{% block body %}{% endblock %}</main>

    <footer class="footer">
        <div class="menu">
            <label>©ІПЗк-21-1</label>
            <label>•</label>
            <label>Єременко Артем</label>
            {% if current_user.is_authenticated %}
                <label>•</label>
                <label><a href="/leave-feedback" style="color: #888888;">Связь с поддержкой</a></label>
                {% if current_user.admin %}
                    <label>•</label>
                    <label><a href="/users" style="color: #888888;">Пользователи</a></label>
                {% endif %}
            {% endif %}
        </div>
    </footer>
</div>
</body>
</html>