{% extends 'base.html' %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
    <div class="cart-body">
    {% if products %}
        {% for el in products %}
        <div class="cart-element">
            <a class="exit cart-margin" href="/product/{{ el.id }}">{{ el.title }}</a>
            <span class="ID" style="display: none">{{ el.id }} </span>
            <span class="count cart-margin"> Количество: {{ count[loop.index-1] }} </span>
            <span class="price cart-margin"> Цена: {{ el.price }} грн. </span>
            <div class="cart-buttons cart-margin">
                <button onclick="PlusToCart({{ el.id }})" class="upp-button"></button>
                <button onclick="RemoveFromCart({{ el.id }})" class="down-button"></button>
                <button onclick="DeleteFromCart({{ el.id }})" class="delete-button"></button>
            </div>
        </div>
        {% endfor %}
        <div class="cart-element" style="align-items: center; border-color: darkgreen">
            <span class="cart-margin sum" style="display: block"> Сумма: {{ sum }} </span>
            {% if current_user.is_authenticated %}
                <a onclick="window.location.replace('/purchase')" class="page-button" style="background-color: mediumspringgreen">Купить</a>
            {% else %}
                <a class="page-button" href="/register">Вам необходимо зарегистрироваться</a>
            {% endif %}
        </div>

    {% else %}
        <div>
        <img class="papich" src="/static/img/Cart.png">
        </div>
    {% endif %}

    </div>
{% endblock %}
