{% extends 'base.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        function DeleteAjax(btnVal, btn) {
            $.ajax({
                type: "POST",
                url: "/deliver-delete/" + btnVal,
                data: {
                    myData: 'This is my data.'
                },
                success: function (result) {
                    alert('Заказ удален успешно');
                    let trsh = document.querySelectorAll('tr')
                    console.log(trsh)
                    if(trsh.length > 2)
                    {
                        console.log(btn.parentNode.parentNode.parentNode.parentNode.parentNode)
                        btn.parentNode.parentNode.parentNode.parentNode.parentNode.style.display = 'none'
                    }
                    else
                    {
                        let mn = document.querySelector('main')
                        console.log(mn)
                        mn.innerHTML = ' <div><img class="papich" src="/static/img/DeliveryCart.png"></div>'
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
    </script>
    <div class="cart-body">
        {% if total %}
            {% for el in total %}
                <div class="nonborder">
                    <table class="deliver">
                        <thead>
                        <tr>
                            <td>
                                Товары
                            </td>
                            <td>
                                Количество
                            </td>
                            <td>
                                ФИО
                            </td>
                            <td>
                                Номер
                            </td>
                            <td>
                                Адрес
                            </td>
                            <td>
                                Кнопочки
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% set tmpco = json.loads(el[0].count) %}
                        {% for pr in el[1] %}
                            <tr>
                                <td>
                                    <a href="/product/{{ pr.id }}" class="exit">{{ pr.title }}</a>
                                </td>
                                <td>
                            <span>
                                {{ tmpco[loop.index-1] }}
                            </span>
                                </td>
                                {% if loop.index == 1 %}
                                    <td rowspan="{{ el[1]|length }}">
                                        {{ el[0].userFIO }}
                                    </td>
                                    <td rowspan="{{ el[1]|length }}">
                                        {{ el[0].userNumber }}
                                    </td>
                                    <td rowspan="{{ el[1]|length }}">
                            <span>
                                {{ el[0].deliverTo }}
                            </span>
                                    </td>
                                    <td rowspan="{{ el[1]|length }}">
                                        <div style="display: flex; justify-content: center">
                                            <a class="conf-button" href="/deliver-accept/{{ el[0].id }}"></a>
                                            <button class="deni-button"
                                                    onclick="DeleteAjax({{ el[0].id }}, this)"></button>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endfor %}

        {% else %}
            <div>
                <img class="papich" src="/static/img/DeliveryCart.png">
            </div>
        {% endif %}

    </div>
{% endblock %}
