{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
    <form method="post" enctype=multipart/form-data class="forma" autocomplete="off">
        Введите адрес:<br>
        <input type="text" name="deliver" id="title" class="loginpole"><br>
        <input type="submit" value="Обновить" class="submitbutton">
    </form>
{% endblock %}
