{% extends 'base.html' %}

{% block title %}
Feedback Answer
{% endblock %}

{% block body %}

    <div>
    <h1 style="text-align: center;">{{ feedback.userLogin }}</h1>
    <div style="width: 191px; text-align: center; background-color: red; color: white;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
     <form method="post" enctype=multipart/form-data class="forma" autocomplete="off" id="forma">
            <div class="addopisanieblock">
                Сообщение:<br>
                <textarea class="area" name="msg" id="msg" form="forma" placeholder="Сообщение"></textarea>
            </div>
            <div class="submitbuttonblock">
                <input type="submit" value="Отправить" class="submitbutton">
            </div>
        </div>
    </form>
</div>

{% endblock %}
