{% extends 'base.html' %}

{% block title %}
Feedback
{% endblock %}

{% block body %}
    <div class="cart-body">
    {% if feedback %}
        {% for el in feedback %}
        <div class="cart-element" style="align-items: center">
            <span class="count cart-margin">{{ el.userLogin }} </span>
            <span class="count cart-margin">{{ el.userEmail }} </span>
            <span class="price cart-margin" style="white-space: pre-line"> <b>Сообщение:</b> {{ el.userMessage }} </span>
            <div class="cart-buttons cart-margin" style="display: block">
                <a class="detailrev" href="/feedback/answer/{{ el.id }}" style="display: block;">Ответить</a>
                <a class="detailrev" href="/feedback/delete/{{ el.id }}" style="display: block;">Удалить</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
         <div style="justify-content: center;border: 3px solid black;margin: 0 auto;width: fit-content">
        <div style="">
            <img style="display: block;" src="/static/img/angry.jfif">
        </div>
            <div style="text-align: center">
                Отзывы отсутствуют
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
