{% extends 'base.html' %}

{% block title %}
    Успех
{% endblock %}

{% block body %}
    <div style="display: flex;border: 3px solid black;margin-top: 10px">
        <span style="display: inline-block;margin: 0 auto;text-align: center">
            Спасибо за ваше сообщение, ответ ожидайте на почте.
        </span>
    </div>
{% endblock %}
