{% extends 'base.html' %}

{% block title %}
    Товар
{% endblock %}

{% block body %}
    {% if count > 0 %}
        <div style="text-align: center">
            <div style="display: inline-block; float: left">
                <select onchange="location = this.value;" class="select">
                    <option value="" selected disabled hidden>Фильтр</option>
                    <option value="/Напольные/0">Напольные</option>
                    <option value="/Наручные/0">Наручные</option>
                    <option value="/Настенные/0">Настенные</option>
                </select>
            </div>
            <div style="display: inline-block">
                <form method="post" autocomplete="off">
                    <div class="kompozblock">
                        <input class="kompozpole" type="text" name="search" placeholder="Название">
                        <input class='delkompoz' type="submit" width="35px"
                               style="background: url(/static/img/search.svg); background-size: cover;" value="">
                    </div>
                </form>
            </div>
        </div>
        <div class="allalbomblock">
            {% for el in products %}
                <div class="onealbomblock">
                    <div class="imagebutton">
                        <div class="imageblock">
                            <img src="/static/img/{{ el.pic }}" class="albomimage">
                        </div>
                        <div class="buttonblock">
                            <a href="/product/{{ el.id }}" class="albombutton">Подробнее</a>
                        </div>
                    </div>
                    <div class="albomtext">
                        <div class="albomtitle">
                            <label><b>{{ el.title }}</b></label>
                        </div>
                        <hr size="1px" noshade color="#323232" width="100px">
                        <div class="albomopisanie">
                            <label class="albomdate">Цена:<br> {{ el.price }} грн.</label><br><br>
                            <label>Категория:<br> {{ el.category }}</label><br><br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="text-align: center; padding-top: 40px; left: auto">
            {% if id >= 1 %}
                <a href="{{ id - 1 }}" class="page-button">&#8592;</a>
            {% else %}
                <a href="{{ id }}" class="page-button disable">&#8592;</a>
            {% endif %}
            {{ id }}
            {% if count > id + 1 %}
                <a href="{{ id + 1 }}" class="page-button">&#8594;</a>
            {% else %}
                <a href="{{ id }}" class="page-button disable">&#8594;</a>
            {% endif %}
        </div>
    {% else %}
        <div style="justify-content: center;border: 3px solid black;margin: 0 auto;width: fit-content">
        <div style="">
            <img style="display: block;" src="/static/img/sadcat.jpg">
        </div>
            <div style="text-align: center">
                Что то пошло не по плану
            </div>
        </div>
    {% endif %}
{% endblock %}