{% extends 'base.html' %}

{% block title %}
Обновление товара
{% endblock %}

{% block body %}

<div>
    <h1 style="text-align: center;">Обновить товар</h1>
    <div style="width: 191px; text-align: center; background-color: red; color: white;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
     <form method="post" enctype=multipart/form-data class="forma" autocomplete="off">
        <div class="addimageopisanieblock">
            <div class="addimageblock">
                <input style="background-image: url(/static/img/{{ product.pic }}); border: 1px solid black;" id="imagefile" type="button" class="addimage" onclick="document.getElementById('image').click();"></input>
                <input onchange="loadFile(event)" id="image" type="file" name="image" style="display: none;"/>
            </div>
            <div class="addopisanieblock">
                Название:<br>
                <input type="text" name="title" id="title" value="{{ product.title }}"><br>
                Цена:<br>
                <input type="text" name="price" id="price" value="{{ product.price }}"><br>
                Категория:<br>
                <input type="text" name="category" id="price" value="{{ product.category }}"><br>
            </div>
        </div>
        <div class="addkompozblock">
            Характеристики:<br>
            <div id="allkompoz">
                {%set list1 = product.description.split(';')%}
                {% for el in list1 %}
                <div class="kompozblock" id="komp1">
                    <input class="kompozpole" type="text" name="track" onkeyup="konkaten()" value="{{ el }}">
                    <input class='delkompoz' type="button" onclick="Del(1)" value="X">
                </div>
                {% endfor %}
            </div>
            <input type="button" class="addpole" onclick="Add()" value="+">
            <!--дальше пустой инпут в который соеденять треки-->
            <input type="text" name="track1" id="track1" style="display: none">
            <hr size="1px" noshade color="grey"></hr>
            <div class="submitbuttonblock">
                <input onclick="kokaten()" type="submit" value="Обновить" class="submitbutton">
            </div>
        </div>
    </form>
</div>

{% endblock %}