{% extends 'base.html' %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block body %}
    <div class="detailblock">
        <div class="deteiltitle">
            <h1>{{ product.title }}</h1>
        </div>
        <div class="detailimageblock">
            <img src="/static/img/{{ product.pic }}" class="detailimage">
        </div>
        <div class="detailopisanie">
            <div>
                <label><b>Цена:</b> {{ product.price }} грн.</label><br>
            </div>
            <div>
                <label><b>Категория:</b> {{ product.category }}</label><br>
            </div>
            <div>
                <label><b>Характеристики:</b></label><br>
                <div style="display: column;">
                    {% set list1 = product.description.split(';') %}
                    {% set k = 1 %}
                    {% for el in list1 %}
                        <div>{{ loop.index }}. {{ el }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr size="1px" noshade color="grey"></hr>
        <div class="detaildelrevblock" style="justify-content: center">
            {% if current_user.is_authenticated %}
                {% if current_user.admin %}
                    <div class="buttony">
                        <a class="detailrev" href="/product/{{ product.id }}/update">Редактировать</a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="buttony">
                <button class="detailrev" style="height: 43px" onclick="AddToCart({{ product.id }})">Добавить в
                    корзину
                </button>
            </div>
            {% if current_user.is_authenticated %}
                {% if current_user.admin %}
                    <div class="buttony">
                        <a class="detaildel" href="/product/{{ product.id }}/delete">Удалить</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="addedbasket">
            <span>
                Товар добавлен в корзину
            </span>
        </div>
    </div>
{% endblock %}
