{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}

<div>
    <h1 style="text-align: center;">Register</h1>
    <div style="width: 191px; text-align: center; background-color: red; color: white;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <form method="post" class="forma" name="register">
        <div class="hidden">
        {{ form.hidden_tag() }}
        </div>
        <div class="logpassblock">
            {{ form.login.label }}
            {{ form.login(size=24,class="loginpole") }}<br>
            {{ form.password1.label }}
            {{ form.password1(size=24,class="loginpole") }}<br>
            {{ form.password2.label }}
            {{ form.password2(size=24,class="loginpole") }}<br>
            {{ form.email.label }}
            {{ form.email(size=64,class="loginpole") }}<br>
            {{ form.deliver.label }}
            {{ form.deliver(size=64,class="loginpole") }}<br>
            {{ form.fio.label }}
            {{ form.fio(size=60,class="loginpole") }}<br>
            {{ form.number.label }}
            {{ form.number(size=64,class="loginpole") }}<br>
        </div>
        <hr size="1px" noshade color="grey"></hr>
        <div class="regblock2">
            <input type="submit" value="Регистрация" class="reg">
        </div>
    </form>
</div>

{% endblock %}