{% extends 'base.html' %}

{% block title %}
Успех
{% endblock %}

{% block body %}
    <script src="/static/scripts/deliver.js"></script>
    <div>
    <img class="papich" src="/static/img/success.jpg">
    </div>
{% endblock %}
