{% extends 'base.html' %}

{% block title %}
Users
{% endblock %}

{% block body %}
    <div class="cart-body">
    {% if users %}
        {% for el in users %}
        <div class="cart-element" style="align-items: center">
            <span class="count cart-margin">{{ el.login }} </span>
            <span class="count cart-margin">{{ el.email }} </span>
            <span class="price cart-margin" style="white-space: pre-line"> <b></b> {{ el.deliver }} </span>
            <div class="cart-buttons cart-margin" style="display: block">
{#                <a class="detailrev" href="/feedback/answer/{{ el.id }}" style="display: block;">Ответить</a>#}
                <a class="detailrev" href="/users/delete/{{ el.id }}" style="display: block;">Удалить</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
         <div style="justify-content: center;border: 3px solid black;margin: 0 auto;width: fit-content">
        <div style="">
            <img style="display: block;" src="/static/img/angry.jfif">
        </div>
            <div style="text-align: center">
                Учетные записи отсутствуют
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
